<!doctype html>
<html>
<head>
    <title>Booking</title>
    <link rel="shortcut icon" href="data:image/webp;base64,UklGRt4AAABXRUJQVlA4TNEAAAAvD8ADEB5HtW27ifdtPcMYuAGmGMgoBjDQYdQM9I6IDiuqDEcCAIJNbCernc3YbNUebdsPsCfbto0f2Lbd3k1AyghOyEuCPLniuOGAFSB46DGnTo4okTK02NJFmqCosiMJFShpGPQ7Uoo9B1XjjisJNKcRJ0eS+awr27s12MDxNuVWL/U9qS278OqAir8FL6Y5/kmCZ8+Zcl/OfdjkUyfJnMiYTwVICsf+DQqkJOxtBKl15Wm1TsOi7bE9u115/vQ10oIkyR2TWahUKYLp0TopIwA=
" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    />

<body style="margin: 0">
<div id="react"></div>
</body>
</html>
